{% extends "layouts/admin_base.html" %} {% load static %}

{% block content %}
  <div class="grid grid-cols-2 gap-5">
          <div class="bg-white rounded-lg">
            <div class="flex gap-2 items-center p-3 px-5">
              <img src="{% static 'icons/bell.svg' %}" class="h-8 w-8" alt="" />
              <h2 class="font-bold text-xl">New Complaints</h2>
            </div>
            <div class="flex flex-col gap-2 w-10/12 mx-auto my-5">
              <div class="flex items-center gap-3 bg-indigo-500 rounded-lg p-2">
                <img src="{% static 'icons/complaint.svg' %}" class="h-8 w-8" alt="" />
                <h3 class="text-white text-lg font-bold">Blue Lagoon</h3>
              </div>
              <a
                class="transition-transform w-4/12 mx-auto mt-2 hover:scale-105 text-center duration-500 rounded-lg hover:bg-indigo-700 bg-gray-900 px-5 py-2.5 text-sm font-bold text-white shadow"
                href="/"
              >
                View More
              </a>
            </div>
          </div>
          <div class="bg-white rounded-lg">
            <div class="flex gap-2 items-center p-3 px-5">
              <img src="{% static 'icons/completed.svg' %}" class="h-8 w-8" alt="" />
              <h2 class="font-bold text-xl">Done</h2>
            </div>
            <div class="flex flex-col gap-2 w-10/12 mx-auto my-5">
              <div class="flex items-center gap-3 bg-indigo-500 rounded-lg p-2">
                <img src="{% static 'icons/complaint.svg' %}" class="h-8 w-8" alt="" />
                <h3 class="text-white text-lg font-bold">Blue Lagoon</h3>
              </div>
              <a
                class="transition-transform w-4/12 mx-auto mt-2 hover:scale-105 text-center duration-500 rounded-lg hover:bg-indigo-700 bg-gray-900 px-5 py-2.5 text-sm font-bold text-white shadow"
                href="/"
              >
                View More
              </a>
            </div>
          </div>
        </div>
        <div class="bg-white rounded-lg mt-5">
          <div class="flex gap-2 items-center p-3 px-5">
            <img src="{% static 'icons/edit.svg' %}" class="h-8 w-8" alt="" />
            <h2 class="font-bold text-xl">Processing</h2>
          </div>
          <div class="flex flex-col gap-2 w-10/12 mx-auto my-5">
            <div class="flex items-center gap-3 bg-indigo-500 rounded-lg p-2">
              <div class="flex flex-col w-full">
                <div class="grid grid-cols-2 gap-3">
                  <div class="flex items-center gap-2">
                    <img src="{% static 'icons/complaint.svg' %}" class="h-8 w-8" alt="" />
                    <h3 class="text-white text-lg font-bold">Blue Lagoon</h3>
                  </div>
                  <div>
                    <h2
                      class="text-white text-lg font-semibold text-right pr-2"
                    >
                      22/2/22
                    </h2>
                  </div>
                </div>
                <div class="grid grid-cols-3 gap-5 p-1 mt-3">
                  <div>
                    <h4 class="text-white font-medium">User: Jaydeep Sharma</h4>
                  </div>
                  <div>
                    <h4 class="text-white text-center font-medium">
                      email: jaydeep@amc.com
                    </h4>
                  </div>
                  <div>
                    <h4 class="text-white text-right font-medium">
                      Simillar complaints: 5
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="transition-transform w-4/12 mx-auto mt-2 hover:scale-105 text-center duration-500 rounded-lg hover:bg-indigo-700 bg-gray-900 px-5 py-2.5 text-sm font-bold text-white shadow"
              href="/"
            >
              View More
            </a>
          </div>
        </div>
{% endblock content %}
